<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{loadedPlaces[0].title}} </ion-card-title>
            <ion-card-subtitle> {{loadedPlaces[0].price | currency}} / Night </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].img"></ion-img>
          <ion-card-content>
            <p> {{loadedPlaces[0].address}} </p>
          </ion-card-content>
          <div>
            <ion-button fill="clear" [routerLink]="['/','places','tabs','discover',loadedPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let place of loadedPlaces.slice(1)"
          [routerLink] ="['/','places','tabs','discover',place.id]"
          detail >
            <ion-thumbnail>
              <ion-img [src]="place.img"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2> {{place.title}} </h2>
              <p> {{place.address}} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
